html {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  background-image: url("../images/background_image.png");
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

nav {
  font-size: 18px;
  color: white;
}

p {
  font-size: 14px;
}

.design {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/background_image.png");
}

footer {
  text-align: left !important;
  background-color: dimgray;
  width: 100%;
}

footer p {
  font-size: 11px;
  color: white;
  display: inline;
}

footer nav {
  display: inline;
}
